@import "root";

.jk-dollar::before{ content: "\0024"; }
.jk-cent::before{ content: "\00A2"; }
.jk-pound::before{ content: "\00A3"; }
.jk-currency::before{ content: "\00A4"; }
.jk-yen::before{ content: "\00A5"; }
.jk-one::before{ content: "1"; }
.jk-two::before{ content: "2"; }
.jk-three::before{ content: "3"; }
.jk-four::before{ content: "4"; }
.jk-five::before{ content: "5"; }
.jk-six::before{ content: "6"; }
.jk-seven::before{ content: "7"; }
.jk-eight::before{ content: "8"; }
.jk-nine::before{ content: "9"; }
.jk-0::before{ content: "0"; }

// version 1.1.0 - 28 December 2023

.jk-copyright::before{ content: "\00A9"; }
.jk-registered::before{ content: "\00AE"; }
.jk-trade-mark::before{ content: "\2122"; }
.jk-at::before{ content: "\0040"; }
.jk-sound-copyright::before{ content: "\2117"; }
.jk-black-star::before{ content: "\2605"; }
.jk-white-star::before{ content: "\2606"; }
.jk-female-sign::before{ content: "\2640"; }
.jk-male-sign::before{ content: "\2642"; }
.jk-six-star::before{ content: "\2736"; }
.jk-check::before{ content: "\2713"; }
.jk-cross::before{ content: "\2717"; }

// version 1.2.0-beta1 - 30 December 2023

.jk-user-fill{ content: url("https://jkcss-css-framework.github.io/JKCSS-Icons/site/assets/svg/user-fill.svg"); }
.jk-user{ content: url("https://jkcss-css-framework.github.io/JKCSS-Icons/site/assets/svg/user.svg"); }
.jk-users-fill{ content: url("https://jkcss-css-framework.github.io/JKCSS-Icons/site/assets/svg/users-fill.svg"); }
.jk-users{ content: url("https://jkcss-css-framework.github.io/JKCSS-Icons/site/assets/svg/users.svg"); }
.jk-user-fill-add{ content: url("https://jkcss-css-framework.github.io/JKCSS-Icons/site/assets/svg/user-fill-add.svg"); }
.jk-user-add{ content: url("https://jkcss-css-framework.github.io/JKCSS-Icons/site/assets/svg/user-add.svg"); }
.jk-user-fill-plus{ content: url("https://jkcss-css-framework.github.io/JKCSS-Icons/site/assets/svg/user-fill-plus.svg"); }
.jk-user-plus{ content: url("https://jkcss-css-framework.github.io/JKCSS-Icons/site/assets/svg/user-plus.svg"); }
